/* Custom properties/variables  */
:root {
  --main-dark: #000000;
  --main-white: #f0f0f0;
  --main-red: #e41b36;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-lightGray: #87a0bd;
  --main-green: #43e409;
  --main-transparent: rgba(255, 255, 255, 0);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--main-dark);

  margin-top: 10px;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-dark);
  font-weight: 600;
}

.title-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  min-width: 400px;
}
.global-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-width: 400px;
  min-height: 70vh;
}

.search {
  font-size: 2.2rem;
  color: var(--main-gray);
  border: none;
  border: 2px solid var(--main-lightGray);
  padding: 5px;
  background: transparent;
  outline: none;
}

.search:focus {
  background-color: var(--main-gray);
  color: var(--main-white);
  border: 2px solid var(--main-gray);
  outline: none;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--main-red);
  height: 30px;
}

button {
  width: 40px;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  border: 2px solid var(--main-lightGray);
}
button:hover,
button:focus {
  background-color: var(--main-gray);
  color: var(--main-white);
  border: 2px solid var(--main-gray);
  outline: none;
}
button:disabled {
  cursor: not-allowed;
}

.pages-cmd {
  margin-bottom: 20px;
  color: var(--main-gray);
}

.hits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 25px;
  padding-left: 80px;
}
.hit {
  font-size: 1.6rem;
  padding: 0 10px;
}
.date-info {
  color: var(--main-gray);
  font-size: 1.2rem;
}
.title {
}
.more {
  color: var(--main-lightGray);
  font-size: 1.2rem;
}
.remove {
  color: var(--main-red);
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 980px) {
  .hits {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding-left: 60px;
  }
}

@media (max-width: 400px) {
  .hits {
    padding-left: 40px;
  }
}
